$color-blue: #e8fdff;
$color-red: #fd5c5c;
$color-black: #323232;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1100px;

$screen-sm-max:767px;   
$screen-md-max:991px;
$screen-lg-max:1099px;





body{
    margin: 0px;
    padding: 0px;
    ::placeholder { 
        color:$color-red;
        opacity: .3; 
        padding-left: 10px;
      }
    font-family: Arial, Helvetica, sans-serif;
}




.header_color{
    background-color: $color-blue;
}
.header_color__logo{
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    &__section{
        max-width: 1100px;
        height: 130px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        img{
            width: 35px;
            height: 35px;
        }
        &__logo{
            margin-top: 15px;
         img{
            width: 175px;
            height: 95px;
         }
        }
        &__ico{
            margin-top: 45px;
            margin-left: auto;
            margin-right: 0;
            display: flex;
            flex-direction: row;
            img{
                margin-left: 10px;
            }
            &__grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                margin-right: 130px;
                margin-left: -160px;
                strong{
                    margin-left: -12px;
                    margin-top: 10px;
                    font-size: 17.7px;
                    color: $color-black;
                }
            }
        }
    }
}
.header{
    max-width: 1100px;
    height: 640px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left: 0;
        font-size: 22px;
        font-weight: 600;
        li{
            margin-left: 30px;
        }
        li:nth-child(1){
            margin-left: -40px;
        }
        li:nth-child(7){
            margin-left: auto;
            margin-right: 0;
        }
    }
    &_screen{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        &_rightSide{
            &__form{
                display: flex;
                flex-direction: column;
                width: 397px;
                height: 470px;
                background-color: #fff;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
                h2{
                    text-align: center;
                    color: $color-red;
                }
                input{
                    margin: 10px auto;
                    width: 340px;
                    height: 50px;
                    font-size: 20px;
                    padding-top: 10px;
                    border: 1px solid $color-red;
                    border-radius: 3px;
                }
                textarea{
                    margin: 10px auto;
                    width: 342px;
                    height: 130px;
                    font-size: 22px;
                    padding-top: 10px;
                    resize: none;
                    border: 1px solid $color-red;
                    border-radius: 3px;
                }
                button{
                    color: #fff;
                    margin: 10px auto;
                    width: 200px;
                    font-size: 20px;
                    padding: 5px;
                    background-color: $color-red;
                    border-radius: 50px;
                    border: 0px;
                }
            }
        }
    }
}




.projects_color{
    background-color: $color-red;
}
.projects{
    max-width: 1100px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 46px;
        text-align: center;
        color: #fff;
    }
    &__side{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        &__left{
            display: flex;
            flex-direction: row;
            &__text{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                h3{
                    margin-top: 0;
                    font-size: 25px;
                    color: #fff;
                }
                p{
                    font-size: 18px;
                    color: #fff;
                }
                hr{
                    width: 100px;
                    margin-left: 0;
                }
                width: 210px;
                button{
                    width: 150px;
                    border-radius: 30px;
                    border: 0px;
                    background-color: #fff;
                    color: $color-red;
                    font-size: 18px;
                    padding: 5px;
                }
            }
        }
    }
}



 
.our{
    max-width: 1100px;
    height: 1785px;
    margin: 0 auto;
    &_services{
        &__firstSection{
            display: flex;
            flex-direction: row;
            margin-top: 70px;
            h3{
                font-size: 46px;
            }
            hr {
                border: none;
                color: $color-red; 
                background-color: $color-red;
                height: 2px; 
                width: 260px;
                margin-left: 0;
                margin-top: -30px;
               }
            p{
                font-size: 18px;
            }
        }
        &__secondSection{
            display: flex;
            flex-direction: row;
            margin-top: 70px;
            &__text{
                width: 542px;
                height: 247px;
                margin-left: -210px;
                margin-top: 90px;
                background-color: #fff;
                -webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                -moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                h3{
                    color: $color-red;
                    padding-left: 20px;
                    font-size: 24px;
                }
                hr{
                    border: none;
                    color: $color-red; 
                    background-color: $color-red;
                    height: 1px; 
                    width: 200px;
                    margin-left: 20px;
                    margin-top: -10px;
                }
                p{
                    font-size: 18px;
                    padding-left: 20px;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    padding-right: 50px;
                }
                button{
                    margin-left: 20px;
                    border: 1px solid $color-red;
                    border-radius: 20px;
                    padding: 5px;
                    width: 200px;
                    color: $color-red;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
        &__thirdSection{
            display: flex;
            flex-direction: row;
            margin-top: 70px;
            &__building{
                display: flex;
                flex-direction: row;
                &__text{
                    width: 285px;
                    height: 330px;
                    background-color: #fff;
                    margin-left: -150px;
                    margin-top: 75px;
                    -webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    -moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    h3{
                        font-size: 24px;
                        padding-left: 20px;
                        color: $color-red;
                    }
                    hr{
                        border: none;
                        color: $color-red; 
                        background-color: $color-red;
                        height: 1px; 
                        width: 130px;
                        margin-left: 20px;
                        margin-top: -10px;
                    }
                    p{
                        font-size: 18px;
                        padding-left: 20px;
                        letter-spacing: 1px;
                        line-height: 1.5;
                        padding-right: 20px;
                    }
                    button{
                        margin-left: 20px;
                        border: 1px solid $color-red;
                        border-radius: 20px;
                        padding: 5px;
                        width: 200px;
                        color: $color-red;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
            &__road{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: row;
                &__text{
                    width: 285px;
                    height: 330px;
                    background-color: #fff;
                    margin-left: -150px;
                    margin-top: 75px;
                    -webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    -moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                    h3{
                        font-size: 24px;
                        padding-left: 20px;
                        color: $color-red;
                    }
                    hr{
                        border: none;
                        color: $color-red; 
                        background-color: $color-red;
                        height: 1px; 
                        width: 130px;
                        margin-left: 20px;
                        margin-top: -10px;
                    }
                    p{
                        font-size: 18px;
                        padding-left: 20px;
                        letter-spacing: 1px;
                        line-height: 1.5;
                        padding-right: 20px;
                    }
                    button{
                        margin-left: 20px;
                        border: 1px solid $color-red;
                        border-radius: 20px;
                        padding: 5px;
                        width: 200px;
                        color: $color-red;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &_clients{
        &__text{
            h2{
                text-align: center;
                font-size: 46px;
            }
            p{
                text-align: center;
                font-size: 18px;
                letter-spacing: 3px;
            }
        }   
        &__ico{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            img{
                max-width: 170px;
            }
        }
    }
}




.contact{
    background-color: $color-black;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 85px;
    padding-bottom: 85px;
    span{
        color: white;
    }
    button{
        width: 240px;
        font-size: 30px;
        padding: 10px;
        border: 1px solid $color-black;
        border-radius: 30px;
        letter-spacing: 2px;
        font-weight: 500;
        color: $color-black;
    }
    
}




.footer{
    height: 345px;
    background-color:$color-red;
    text-align: center;
    color: #fff;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0 auto;
        width: 800px;
        li{
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 30px;
            font-size: 22px;
        }
    }
    &__ico{
        img{
            padding: 20px;
        }
    }
    p{
        font-size: 20px;
        letter-spacing: 1.3px;
    }
    hr{
        border: none;
        color: $color-red; 
        background-color: #fff;
        height: 1px; 
        width: 800px;
    }
}






/////////////////////////////////////
/////////////// MEDIA ///////////////
/////////////////////////////////////


@media (max-width: $screen-md-max){
    .header_color__logo{
        &__section{
            height: 100px;
            &__logo{
                margin-left: 10px;
                img{
                    width: 120px;
                    height: 70px;
                }
            }
            &__ico{
                margin-top: 30px;
                margin-right: 20px;
                flex-direction: row;
                &__grid{
                    img{
                        width: 40px;
                        margin-left: 150px;
                    }
                    margin-top: 0;
                    margin-right: -10px;
    
                }
            }
        }
    }
    .header{
        height: 100%;
        &_navbar{
            ul{
            font-size: 17px;
            li:nth-child(1){
                margin-left: -30px;
            }
            li:nth-child(7){
                margin-left: auto;
                margin-right: 20px;
            }
        }
        }
        &_screen{
            margin-top: 30px;
            flex-direction: row;
            &_leftSide{
                text-align: center;
                img{
                    width: 90%;
                }
            }
            &_rightSide{
                margin-bottom: 10px;
                &__form{
                    height: 95%;
                    h2{
                        font-size: 19px;
                    }
                    width: 90%;
                    margin: 0 auto;
                    input{
                        height: 12px;
                        font-size: 15px;
                        width: 80%;
                        margin-top: 0;
                    }
                    textarea{
                        width: 80%;
                        height: 100px;
                    }
                    button{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    
    
    
    .projects{
        height: 100%;
        h2{
            font-size: 26px;
        }
        &__side{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            &__left{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                &__text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    text-align: center;
                    h3{
                        margin: 10px auto;
                        font-size: 25px;
                    }
                    hr{
                        width: 150px;
                        margin: 0 auto;
                    }
                    width: 210px;
                    button{
                        margin: 0 auto 10px auto;
                    }
                }
            }
        }
    }
    
    
    

    .our{
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        &_services{
            margin-left: 20px;
            &__firstSection{
                h3{
                    font-size: 36px;
                }
                hr {
                    border: none;
                    color: $color-red; 
                    background-color: $color-red;
                    height: 2px; 
                    width: 260px;
                    margin-left: 0;
                    margin-top: -30px;
                   }
                p{
                    font-size: 18px;
                }
                img{
                    margin-top: 30px;
                    width: 400px;
                }
            }
            &__secondSection{
                display: flex;
                flex-direction: row;
                margin-top: 70px;
                img{
                    width: 600px;
                }
                &__text{
                    width: 442px;
                    height: 247px;
                    margin-left: -320px;
                    margin-top: 70px;
                }
            }
            &__thirdSection{
                display: flex;
                flex-direction: column;
                margin-top: 70px;
                &__building{
                    display: flex;
                    flex-direction: row;
                    &__text{
                        width: 385px;
                        height: 330px;
                        background-color: #fff;
                        margin-left: -150px;
                        margin-top: 75px;
                        -webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        -moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        h3{
                            font-size: 24px;
                            padding-left: 20px;
                            margin-top: 50px;
                            color: $color-red;
                        }
                        hr{
                            border: none;
                            color: $color-red; 
                            background-color: $color-red;
                            height: 1px; 
                            width: 130px;
                            margin-left: 20px;
                            margin-top: -10px;
                        }
                        p{
                            font-size: 18px;
                            padding-left: 20px;
                            letter-spacing: 1px;
                            line-height: 1.5;
                            padding-right: 20px;
                        }
                        button{
                            margin-left: 20px;
                            border: 1px solid $color-red;
                            border-radius: 20px;
                            padding: 5px;
                            width: 200px;
                            color: $color-red;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
                &__road{
                        margin-left: 10px;
                        flex-direction: row;
                    &__text{
                        width: 385px;
                        height: 330px;
                        background-color: #fff;
                        margin-left: -150px;
                        margin-top: 75px;
                        -webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        -moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.41);
                        h3{
                            font-size: 24px;
                            margin-top: 50px;
                            padding-left: 20px;
                            color: $color-red;
                        }
                        hr{
                            border: none;
                            color: $color-red; 
                            background-color: $color-red;
                            height: 1px; 
                            width: 130px;
                            margin-left: 20px;
                            margin-top: -10px;
                        }
                        p{
                            font-size: 18px;
                            padding-left: 20px;
                            letter-spacing: 1px;
                            line-height: 1.5;
                            padding-right: 20px;
                        }
                        button{
                            margin-left: 20px;
                            border: 1px solid $color-red;
                            border-radius: 20px;
                            padding: 5px;
                            width: 200px;
                            color: $color-red;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        &_clients{
            &__text{
                h2{
                    text-align: center;
                    font-size: 46px;
                }
                p{
                    text-align: center;
                    font-size: 18px;
                    letter-spacing: 3px;
                }
            }   
            &__ico{
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-items: center;
            }
        }
    }
    
    
    }

/////////////////////////////////////
/////////////// MEDIA ///////////////
/////////////////////////////////////




@media (max-width: $screen-sm-max){
.header_color__logo{
    &__section{
        height: 100px;
        &__logo{
            margin-left: 10px;
            img{
                width: 120px;
                height: 70px;
            }
        }
        &__ico{
            margin-top: 5px;
            margin-right: 20px;
            flex-direction: column;
            &__grid{
                img{
                    width: 0%;
                }
                margin-top: 10px;
                margin-right: -10px;

            }
            &__none{
                display: none;
            }
        }
    }
}
.header{
    height: 100%;
    &_navbar{
        display: none;
    }
    &_screen{
        margin-top: 30px;
        flex-direction: column;
        &_leftSide{
            text-align: center;
            img{
                width: 70%;
            }
        }
        &_rightSide{
            margin-bottom: 10px;
            &__form{
                height: 90%;
                h2{
                    font-size: 19px;
                }
                width: 80%;
                margin: 0 auto;
                input{
                    height: 12px;
                    font-size: 15px;
                    width: 80%;
                    margin-top: 0;
                }
                textarea{
                    width: 80%;
                    height: 100px;
                }
                button{
                    margin-top: 0;
                }
            }
        }
    }
}



.projects{
    height: 100%;
    h2{
        font-size: 26px;
    }
    &__side{
        display: grid;
        grid-template-columns: 1fr;
        &__left{
            display: flex;
            flex-direction: column;
            &__text{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                text-align: center;
                h3{
                    margin: 10px auto;
                    font-size: 25px;
                }
                hr{
                    width: 150px;
                    margin: 0 auto;
                }
                width: 210px;
                button{
                    margin: 0 auto 10px auto;
                }
            }
        }
    }
}



.our{
    height: 100%;
    margin: 0 auto;
    text-align: center;
    &_services{
        &__firstSection{
            flex-direction: column;
            margin-top: 0;
            h3{
                font-size: 30px;
            }
            hr {
                display: none;
            }
            p{
                width: 90%;
                margin: 0 auto;
            }
            img{
                width: 90%;
                margin: 0 auto;
            }
        }
        &__secondSection{
        display: grid;
        grid-template-areas: 'text'
                             'photo';
            margin-top: 70px;
            &__photo{
                grid-area: photo;
                margin-top: -50px;
                img{
                    width: 90%;
                }
            }
            &__text{
                grid-area: text;
                width: 85%;
                margin: 0 auto;
                height: 100%;
                h3{
                    padding: 0;
                    font-size: 18px;
                }
                hr{
                   display: none;
                }
                p{
                    padding: 10px;
                    font-size: 15px;
                }
                button{
                    width: 50%;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        &__thirdSection{
            flex-direction: column;
            margin-top: 70px;
            &__building{
                display: flex;
                flex-direction: column;
                img{
                    width: 90%;
                }
                &__text{
                    width: 80%;
                    height: 270px;
                    background-color: #fff;
                    margin: -220px auto 0 auto;
                    p{
                        font-size: 16px;
                    }
                    h3{
                        font-size: 22px;
                        padding: 0;
                    }
                    hr{
                        display: none;
                    }
                    button{
                        margin: 0 auto;
                        font-size: 16px;
                    }
                }
            }
            &__road{
                    margin-top: 50px;
                    display: grid;
                    grid-template-areas: "text"
                    "photo";
                &__photo{
                    grid-area: photo;
                    margin: -100px auto 0 auto;
                    img{
                        width: 90%;
                    }
                }
                &__text{
                    grid-area: text;
                    width: 80%;
                    height: 100%;
                    background-color: #fff;
                    margin: 0 auto;
                    h3{
                        font-size: 22px;
                        padding: 0;
                    }
                    hr{
                        display: none;
                    }
                    p{
                        font-size: 16px;
                    }
                    button{
                        font-size: 16px;
                        margin: 0 auto 10px auto
                    }
                }
            }
        }
    }
    &_clients{
        &__text{
            h2{
                text-align: center;
                font-size: 32px;
            }
            p{
                text-align: center;
                font-size: 18px;
                letter-spacing: 2px;
                width: 80%;
                margin: 0 auto;
            }
        }   
        &__ico{
            margin: 20px auto 0 auto;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            img{
                width: 90%;
                margin: 10px auto 10px auto;
            }
        }
    }
}



.contact{
    button{
        font-size: 25px;
        width: 50%;
        margin: 10px auto 0 auto;
    }
    
}


.footer{
    height: 100%;
    text-align: center;
    ul{
       display: none;
    }
    &__ico{
        img{
            padding: 15px;
        }
    }
    p{
        font-size: 16px;
        letter-spacing: 1.3px;
        margin-bottom: 10px;
    }
    hr{
        border: none;
        color: $color-red; 
        background-color: #fff;
        height: 1px; 
        width:90%;
    }
}

}

/////////////////////////////////////
/////////////// MEDIA ///////////////
/////////////////////////////////////