$color-blue: rgba(43, 213, 255, 0.664);
$color-red: #fd5c5c;

body{
    margin: 0px;
    padding: 0px;
}



.header_color{
    background-color: $color-blue;
    width: 100vw;
}
.header_color__logo{
    background-color: white;
    width: 100vw;
    &__section{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        &__ico{
            margin-top: 25px;
            margin-left: auto;
            margin-right: 0;
            span{
                margin-left: 10px;
            }
            &__telmail{
                margin-right: 110px;
            }
        }
    }
}
.header{
    max-width: 1100px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left: 0;
        li{
            margin-left: 30px;
        }
        li:nth-child(1){
            margin-left: -40px;
        }
        li:nth-child(7){
            margin-left: auto;
            margin-right: 0;
        }
    }
    &_screen{
        display: flex;
        flex-direction: row;
    }
    &_rightSide{
        &__form{
            display: flex;
            flex-direction: column;
            max-width: 350px;
            height: 500px;
         }
    }
}






.projects_color{
    background-color: $color-red;
}
.projects{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__side{
        display: flex;
        flex-direction: row;
        &__left{
            display: flex;
            flex-direction: row;
        }
        &__right{
            display: flex;
            flex-direction: row;    
        }
    }
}

